.citySearch {
    position: relative;
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    font-size: 2rem;
    padding: 32px 23px;
    border: 2px solid #FDCEDF;
    border-bottom: 7px solid #FDCEDF;
    border-radius: 50px;
}

.citySearch__input,.citySearch__hint{
    position: absolute;
    top: 0;
    left: 23px;
    bottom: 0;
}

.citySearch__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: none;
    border: none;
    outline: none;
    z-index: 2;
}

.citySearch__hint {
    font-size: inherit;
    opacity: 0.3;
    user-select: none;
    display: flex;
    align-items: center;
}