.citySearch__clearBtn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.1rem;
    text-shadow: 1px 1px 0px #FDCEDF;
    cursor: pointer;
    z-index: 10;
}